.app-box {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50%;
  height: 5.4rem;
  font-size: 2.6rem;
  text-align: center;
  background-color: var(--color-white-opacity);
  border: 2px solid rgba(255, 255, 255, 0.25);
  border-radius: var(--size-border-radius-micro);
  margin-left: 1.6rem;
  transition: all var(--animation-duration) ease-out;
}

.app-box:hover {
  background-color: rgba(255, 255, 255, 0.5);
  border-color: rgba(255, 255, 255, 0.4);
  cursor: pointer;
}

.app-box__text {
  font-size: var(--font-micro);
  font-weight: var(--weight-bold);
  margin-right: 0.6rem;
}

.apps {
  display: flex;
  flex-direction: column;
  position: absolute;
  right: -8rem;
  bottom: 6rem;
  background-color: rgba(255, 255, 255, 0.5);
  border: 2px solid rgba(255, 255, 255, 0.25);
  border-radius: var(--size-border-radius-small);
  padding: 0.4rem 0.8rem;
  margin: 0;
  transition: all 500ms ease-out;
}

.apps.hidden {
  transform: translatex(-30px);
  opacity: 0;
  pointer-events: none;
}

.app {
  background-color: rgba(255, 255, 255, 0.4);
  text-align: center;
  border: 2px solid rgba(255, 255, 255, 0.25);
  border-radius: var(--size-border-radius-small);
  padding: 0.4rem;
  margin: 0.4rem 0;
  transition: transform var(--animation-duration) ease-out;
}

.app:hover {
  transform: scale(1.1);
  border: 2px solid rgba(255, 255, 255, 0.7);
}

.app a {
  display: block;
  width: 3rem;
  height: 3rem;
}

a[data-app-type='google'] {
  background: url('../images/icons/apps.png') no-repeat 1px 0;
  background-size: 3rem;
}

a[data-app-type='youtube'] {
  background: url('../images/icons/apps.png') no-repeat 1px -35px;
  background-size: 3rem;
}

a[data-app-type='linkedin'] {
  background: url('../images/icons/apps.png') no-repeat 1.5px -64px;
  background-size: 2.8rem;
}

a[data-app-type='twitter'] {
  background: url('../images/icons/apps.png') no-repeat 1px -112px;
  background-size: 3rem;
}

a[data-app-type='facebook'] {
  background: url('../images/icons/apps.png') no-repeat 1.5px -144px;
  background-size: 2.8rem;
}

a[data-app-type='instagram'] {
  background: url('../images/icons/apps.png') no-repeat 1px -197px;
  background-size: 3rem;
}
