.seasons {
  display: flex;
  flex-direction: row;
  position: absolute;
  right: 6.8rem;
  top: -5.25rem;
  width: 24.2rem;
  height: 5rem;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  background: linear-gradient(
    0deg,
    rgba(255, 255, 255, 0.1) 0%,
    rgba(255, 255, 255, 0.6) 100%
  );
  background-color: rgba(255, 255, 255, 0.35);
}

.season {
  width: 6rem;
  height: 5rem;
  text-align: center;
  border-left: 1.5px solid rgba(255, 255, 255, 0.4);
  border-bottom: 0;
}

.season[data-season='spring'] {
  background: url('../images/icons/seasons.png') no-repeat 12px 7px;
  background-size: 4rem;
  border-left: none;
}

.season[data-season='summer'] {
  background: url('../images/icons/seasons.png') no-repeat 11px -43px;
  background-size: 3.8rem;
}

.season[data-season='autumn'] {
  background: url('../images/icons/seasons.png') no-repeat 10px -96px;
  background-size: 4rem;
}

.season[data-season='winter'] {
  background: url('../images/icons/seasons.png') no-repeat 10px -122px;
  background-size: 3.4rem;
}
