/* Global */
:root {
  /* Color */
  --color-black: rgb(43, 41, 41);
  --color-white-opacity: rgba(255, 255, 255, 0.15);

  /* Font size */
  --font-large: 2.4rem;
  --font-medium: 1.8rem;
  --font-regular: 1.6rem;
  --font-small: 1.4rem;

  /* Font weight */
  --weight-bold: 700;
  --weight-semi-bold: 600;
  --weight-regular: 400;

  /* Size */
  --base-space: 1.6rem;
  --size-border-radius-large: 4rem;
  --size-border-radius-medium: 2.8rem;
  --size-border-radius-regular: 1.2rem;
  --size-border-radius-small: 0.8rem;

  /* Annimation */
  --animation-duration: 300ms;
}

/* Universal tags */
* {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: 'Source Sans Pro', sans-serif;
  margin: 0;
  padding: 0;
  height: 100vh;
  margin-top: 8rem;
  background: url('../images/seasons/winter/winter2.jpg') no-repeat center/cover;
  overflow: hidden;
}

a {
  text-decoration: none;
}

ul {
  padding-left: 0;
}

li {
  list-style: none;
}

button {
  background-color: transparent;
  cursor: pointer;
  border: none;
  outline: none;
}

.board,
.main-container,
.side-container {
  border-top: 3px solid rgba(255, 255, 255, 0.2);
  border-left: 3px solid rgba(255, 255, 255, 0.2);
  border-bottom: 2px solid rgba(255, 255, 255, 0.15);
  border-right: 2px solid rgba(255, 255, 255, 0.15);
}

.board {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 70%;
  height: 85%;
  padding: 4.2em;
  margin: auto;
  backdrop-filter: blur(25px);
  border-radius: var(--size-border-radius-large);
  border-bottom: 2px solid rgba(255, 255, 255, 0.2);
  overflow-y: none;
  background: radial-gradient(
    circle,
    rgba(255, 255, 255, 0.15) 0%,
    rgba(255, 255, 255, 0.4) 100%
  );
}

.containers {
  display: flex;
  flex-direction: row;
}

.main-container {
  width: 70%;
  padding: 2.8em 3.2em;
  background-color: var(--color-white-opacity);
  border-radius: var(--size-border-radius-medium);
}

.side-container {
  width: 30%;
  margin-left: calc(var(--base-space) * 2);
  padding: 2.8em 3.2em;
  border-radius: var(--size-border-radius-medium);
  background-color: var(--color-white-opacity);
}
